#logo2{
    width: 70px;
    padding:20px 20%;
}

#sidebarc{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#box1{
    background-color:#ffffff;
    height: 100vh;
}
#logo2 {
    width: 70px;
    padding: 30px 60px;
}
#ava{
    margin:10px 10px 10px  96%;
}

#tablec{
    width: 60%;
    margin:7% 15%;
}
#tablec1{
    width: 60%;
    margin:9.9% 15%;
}

@media only screen and (max-width: 600px){
    #ava{
            margin-left: 56%;
    }
    #tablec{
        width: 80%;
        margin:36% 5px;
        
    }
    #tablec1{
        width: 80%;
        margin:42% 5px;
    }
}

#navitem12{
    text-decoration: none;
}
#navitem12:hover{
    text-decoration: none;
    color: #03dfc1;
}

#navitem2:hover{
    color: #03dfc1;
}
#sidebarc:hover{
    color: #03dfc1;
}